@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript" src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            SyntaxHighlighter.all();

            $("#btn-ex1-code").click(function () {
                $("#ex1-code").toggle();

                if ($(this).text() == "Show Code") {
                    $(this).text("Hide Code");
                } else {
                    $(this).text("Show Code");
                }
            });
        })
    </script>
}
@section styles{
    <link rel="stylesheet" href="~/Content/SyntaxHighlighter/shCore.css">
    <link rel="stylesheet" href="~/Content/SyntaxHighlighter/shCoreDefault.css">
}

<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>HI, MY NAME IS GUI & I AM A</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">INSTRUCTOR</b>
                                <b>DEVELOPER</b>
                                <b>GAMER (or used to be)</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        With 10 years experience, I've occupied many roles including digital design director,<br> web designer and developer. This site showcases some of my work.
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works">View Works</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere <br> tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <!-- Modal -->

                <a href="" data-toggle="modal" data-target="#myJsExercisesModal">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                        <div class="img-wrapper">
                            <img src="~/Content/images/portfolio/item-1.jpg" class="img-responsive" alt="this is a title">
                            <div class="overlay">

                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="#">
                                    JavaScript Exercises
                                </a>
                            </h4>
                            <p>
                                JavaScript Exercises with JQuery
                            </p>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section> <!-- #works -->
<!--
==================================================
Portfolio Section Start
==================================================
-->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Offer From Me</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,<br> quasi dolores numquam dolor vero ex, tempora commodi repellendus quod laborum.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-flask-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Well documented.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Well documented.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-americanfootball-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Free updates</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-keypad-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Solid Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Simple Installation</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#feature -->

<div class="modal fade" id="myJsExercisesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">JavaScript Exercises</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#ex-1">Exercise 1</a></li>
                    <li><a data-toggle="tab" href="#ex-2">Exercise 2</a></li>
                    <li><a data-toggle="tab" href="#ex-3">Exercise 3</a></li>
                    <li><a data-toggle="tab" href="#ex-4">Exercise 4</a></li>
                </ul>

                <div class="tab-content">
                    <div id="ex-1" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Exercise 1</h3>
                            </div>
                            <div class="col-md-6">
                                <p>Exercise 1 Content</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btn-ex1-code" class="btn btn-primary">Show Code</button>
                                <div id="ex1-code" style="display:none">
                                    <pre class="brush:js;">
                                        $(document).ready(function() {
                                            alert('asdasdasd');
                                        });
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ex-2" class="tab-pane fade">
                        <h3>Exercise 2</h3>
                        <p>Exercise 2 Content</p>
                    </div>
                    <div id="ex-3" class="tab-pane fade">
                        <h3>Exercise 3</h3>
                        <p>Exercise 3 Content</p>
                    </div>
                    <div id="ex-4" class="tab-pane fade">
                        <h3>Exercise 4</h3>
                        <p>Exercise 4 Content</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>